* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.card {
    width: 350px;
    margin: 80px auto;
    box-shadow: 0 0 3px;
    border-radius: 1em;
}

.card-img {
    width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
}

.card-title {
    margin-bottom: 10px;
    ;
}

.card-container {
    border-radius: 0 0 1em 1em;
    padding: 40px;
    text-align: center;
}

.card-paragraph {
    line-height: 1.5;
    text-align: start;
}

.card-button {
    display: inline-block;
    background-color: grey;
    color: beige;
    text-decoration: none;
    padding: 1em 2em;
    margin-top: 1em;
    border: 2px grey;
    border-radius: 2em;

}