* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: beige;
}

table,
td,
th {

    color: whitesmoke
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-top: 50px;

    padding-left: 75px;
}

.bloque {
    max-width: 35%;
    display: block;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

#bloque1 {
    background-color: aquamarine;
}

#bloque2 {
    background-color: bisque;
}

#bloque3 {
    background-color: yellowgreen;
}

#bloque4 {
    background-color: rebeccapurple;
    display: block;
}

#bloque2,
#bloque4 {
    color: blue;

}

.subbloque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#titulo {
    color: yellow;
    border: solid 5px yellow;
    padding: 5px;
    margin-top: 15px;
}

#bloque5 {
    border: 13px red solid;
}

.container2 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(6, 65, 158, 1) 53%, rgba(4, 112, 189, 1) 68%, rgba(206, 3, 117, 1) 76%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: relative;
}

.actions {
    position: absolute;
    right: 1em;
    top: 1em;


}

.close {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    background-color: blueviolet;
    display: inline-block;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}


.table {
    width: 100%;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 1em;
    text-align: left;
}

.fa-star,
.fa-star-o {
    color: blanchedalmond;
}

.position {
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 4px;

}

header {
    padding: 10px;
}