* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: beige;
}

table,
td,
th {

    color: whitesmoke
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-top: 50px;

    padding-left: 75px;
}

.bloque {
    max-width: 35%;
    display: block;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

#bloque1 {
    background-color: aquamarine;
}

#bloque2 {
    background-color: bisque;
}

#bloque3 {
    background-color: yellowgreen;
}

#bloque4 {
    background-color: rebeccapurple;
    display: block;
}

#bloque2,
#bloque4 {
    color: blue;

}

.subbloque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#titulo {
    color: yellow;
    border: solid 5px yellow;
    padding: 5px;
    margin-top: 15px;
}

#bloque5 {
    border: 13px red solid;
}

.container2 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(6, 65, 158, 1) 53%, rgba(4, 112, 189, 1) 68%, rgba(206, 3, 117, 1) 76%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 950px;
    width: 100%;
    height: 80vh;
    background-color: aqua;
    box-shadow: 0 3px 6px 10px black;

    border-radius: 5%;
    position: relative;

}

.content {
    padding: 1em;

}

td {
    display: block;
    width: 100%;
}

td:nth-of-type(1) {
    font-size: 1.5em;
    font-style: bold;
    color: black;
}

th {
    display: none;
}

.image {
    float: left;
}

.actions {
    position: absolute;
    right: 1em;
    top: 1em;


}

.actions {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    background-color: blueviolet;
    display: inline-block;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}

div.close {
    display: flex;
    justify-content: end;
    height: 40px;
}

.text {
    padding: 10px;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td,
.table th {
    padding: 1em;
    text-align: left;
}

.fa-star,
.fa-star-o {
    color: blanchedalmond;
}

a:hover {
    opacity: 0.8;
}

.position {
    background-color: antiquewhite;
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
}

header {
    padding: 10px;
}

.paragraph {
    line-height: 1.8em;
    font-weight: 300;
}

.title-item {
    border-bottom: solid black 3px;
    padding-bottom: 5px;

}

.title {
    display: inline-block;

}

img {
    max-width: 100%;
}

address {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}

@media (min-width: 900px) {
    .content {
        padding: 1.8em;

    }

    td {
        display: table-cell;
        width: auto;
    }

    td:nth-of-type(1) {
        font-size: 1em;
        font-style: bold;
        color: black;
    }

    th {
        display: table-cell;
    }
}

@media (min-height: 550px) {
    .content {
        height: 500px;

    }
}